{% extends '_base.html.twig' %}

{% block title %}new movie{% endblock %}

{% block main %}
    {% set title = "" %}
    {% set category = "" %}
    {% set price = "" %}

    {% if movie is defined %}
        {% set title = movie.title %}
        {% set categoryId = movie.categoryId %}
        {% set price = movie.price %}
    {% endif %}


    {% if errors|length > 0%}
        <div  class="error">
            <ul>
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <h1>
        New Movie
    </h1>

    <form action="/" method="post">
        <input type="hidden" name="action" value="processNewMovie">

        <p>
            Title:
            <input name="title" value="{{ title }}">
        <p>
            CategoryId:
            <input name="categoryId" value="{{ categoryId }}">
        <p>
            Price:
            <input name="price" value="{{ price }}">
        <p>
            <input type="submit">
    </form>

{% endblock %}